html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, table, td, th, img, div, dl, dt, dd, input, select, form, fieldset {
    margin: 0 auto;
    padding: 0;
    border: none;
}
html {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(233, 250, 255);
    color: rgb(85, 85, 85);
    font-family: serif;
    font-size: 12px;
    margin: 0 auto;
    overflow: auto;
    height: 100%;
    width: 100%;
}

[v-cloak] {
    display: none;
}



.force-landscape {
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;
    width: 100vh;
    height: var(--viewport-height, 100vw);
    position: fixed;
    /* top: 100%; */
    left: 0;
    overflow-x: hidden;
    /* 适配Galaxy Z Fold6等折叠屏 */ 
    @media (screen-spanning: single-fold-vertical) {
      height: calc(var(--viewport-height) - env(fold-top));
    }
  }