<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="keywords" content="学习">
    <meta name="description" content="欢迎登录[游戏网站名称]，海量热门游戏等你畅玩，立即登录开启专属游戏体验！">
    <link rel="icon" href="/favicon.ico">
    <title>游戏世界，即刻登录开启奇幻之旅</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="https://unpkg.com/nprogress@0.2.0/nprogress.css">
    <link rel="stylesheet" href="/css/my.css?v=1">
    <style type="text/css">
        #app {
            background-image: url('/images/background.jpg');
            height: 100%;
            width: 100%;
        }

        .view_div {
            
            background-color: rgba(255, 255, 255, 0.8);

            margin: auto;
            width: 400px;
        }
    </style>
    <script src="https://unpkg.com/vue@2.7.16/dist/vue.min.js"></script>
    <script src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
    <script src="https://unpkg.com/axios@0.21.4/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sockjs-client@1.6.1/dist/sockjs.min.js"></script>
    <script src="https://unpkg.com/stompjs@2.3.3/lib/stomp.min.js"></script>
    <script charset="utf-8" type="text/javascript" src="/js/my.js?v=1"></script>

</head>

<body>
    <div v-cloak id="app">
        <div class="view_div">
        <el-form :model="login" :rules="rules" ref="loginForm" @submit.native.prevent="handleSubmit">
            <!-- 用户名输入 -->
            <el-form-item prop="userName">
                <el-input v-model="login.userName" type="text" id="userName" name="userName" placeholder="请输入用户名"
                    clearable>
                    <template #prefix> <i class="el-icon-user"></i> </template>
                </el-input>
            </el-form-item>
            <!-- 密码输入 -->
            <el-form-item prop="passWord">
                <el-input v-model="login.passWord" type="password" id="passWord" name="passWord" placeholder="请输入密码"
                    show-password>
                    <template #prefix> <i class="el-icon-lock"></i> </template>
                </el-input>
            </el-form-item>
            </el-form-item>
            <el-form-item label="验证码：">
                <el-input v-model="login.redisValue" placeholder="请输入验证码" prefix-icon="el-icon-picture"></el-input>
                <div v-loading="captchaImgLoad">
                    <img :src="captchaImg" alt="加载验证码失败" width="100%" @click="getCaptchaImg" />
                </div>
            </el-form-item>
            <!-- 提交按钮 -->
            <el-form-item>
                <el-button type="primary" native-type="submit" :loading="loading">登录 </el-button>
            </el-form-item>
        </el-form>
    </div>
    </div>
    <script type="text/javascript">
        Vue.use(ELEMENT);
        var vm = new Vue({
            data: {
                login: {
                    userName: 'tongcheng',
                    passWord: '12345678',
                    redisUuid: '',
                    redisValue: ''
                },
                loading: false,
                captchaImgLoad: false,
                captchaImg: "",
                rules: {
                    userName: [
                        { required: true, message: '请输入用户名', trigger: 'blur' },
                        { min: 3, max: 20, message: '长度在 3 到 20 个字符', trigger: 'blur' }
                    ],
                    passWord: [
                        { required: true, message: '请输入密码', trigger: 'blur' },
                        { min: 6, max: 20, message: '长度在 6 到 20 个字符', trigger: 'blur' }
                    ],
                    redisValue: [
                        { required: true, message: '请输入验证码', trigger: 'blur' },
                        { min: 6, max: 6, message: '长度在 6 个字符', trigger: 'blur' }
                    ]
                }
            },
            methods: {
                getCaptchaImg() {
                    this.captchaImgLoad = true;
                    let parameter = {}
                    window.postWithToken("/api/business/webUser/drawCaptcha", parameter).then((res) => {
                        let temp = {
                            redisUuid: res.redisUuid,
                            imgBase64: res.imgBase64,
                        }
                        this.login.redisUuid = temp.redisUuid;
                        this.captchaImg = temp.imgBase64
                        this.captchaImgLoad = false;
                    }).catch((err) => {

                    })
                },

                handleSubmit() {
                    this.$refs.loginForm.validate(valid => {
                        if (valid) {
                            this.loading = true
                            window.postWithToken("/api/business/webUser/login", this.login).then(res => {
                                if (res) {
                                    let p = {
                                        userName: this.login.userName,
                                        token: res,
                                        passWord: this.login.passWord
                                    }
                                    sessionStorage.setItem("p1", JSON.stringify(p));
                                    this.$message.success(" 登录成功");
                                    window.toPage('serverselect');
                                }
                            }).catch(err => {
                                this.$message.error(err.response?.data?.message || "网络异常");
                            }).finally(() => {
                                this.loading = false;
                            });
                        }
                    })
                }
            },
            watch: {

            },
            mounted: function () {
                this.getCaptchaImg()
            },
            created: function () {

            }
        }).$mount('#app')
    </script>
</body>

</html>